*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --primary-color--: #4cc9f0;
    --secondary-color--: #242238;
    --back-color--: #f7931a;
}

body{
    background-color: var(--secondary-color--);
    overflow-x: hidden;

}

.navBar{
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
}

.nav-bg{
    background-color: #e2e1ec;
}

.logo img{
    width: 40px;
    margin-top: 9px;
    border-radius: 50%;
}

.nav-links ul{
    display: flex;
    margin-left: 50px;
    gap: 15px;
}

.nav-links ul a{
    position: relative;
    cursor: default;
    font-weight: 500;
    color: #f7931a;
    font-size: 1.1vw;
    transition: calc(0.2s* var(i--));
    animation: fromTop 0.5s ease forwards;
    animation-delay: calc(0.2s* var(i--));
}

@keyframes fromTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.nav-links ul a::before{
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    background-color: #f7931a;
    height: 2px;
    bottom: -1px;
    transform-origin: right;
    transition: 0.3s;
    transform: scale(0);
    transition: transform 0.5s;
}

.nav-links ul a:hover:before{
    transform: scale(1);
    transform-origin: left;
}

.hereMe{
    margin-right: 70px;
    border-radius: 50px;
    height: 30px;
    border: none;
    padding: 10px;
    color: #242238;
    font-weight: 500;
    z-index: 10;
}

.section{
    position: relative;
    display: flex;
    height: 100vh;
    width: 100vw;
    margin-left: 50px;
}

.homepic{
    /* margin-right: 60px; */
    position: relative;
}

.homepic .expi{
    position: absolute;
    top: 45vh;
    left: 9vw;
    color: #fff;
    width: 155px;
    height: 80px;
    background-color: #737b7d;
    border-radius: 10px;
    line-height: 22px;
}

.expi p{

    /* padding: 10px; */
    margin: 15px;
    font-size: 2.7vw;
    /* text-align: center; */
    font-family: cocon;
    font-weight: 900;
    color: #242238;
}

.expi span{
    font-size: 1.0vw;
    font-weight: 200;
    color: black;
    letter-spacing: 0.5px;
}

.homepic img{
    margin-top: -45px;
    width: 800px;
}

.sub-1{
    position: relative;
    margin-top: 140px;
    display: flex;
    flex-direction: column;
}

.sub-1 p{
    font-size: 1.1vw;
    font-family: poppins;
    font-weight: 100;
    letter-spacing: 0.3em;
    color: #fff;
}

.sub-1 b{
    font-size: 3vw;
}

.sub-1 span{
    color: rgb(197, 200, 202);
    font-size: 1.2vw;
    line-height: 27px;
}

button.hire{
    margin-top: 30px;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    background-color: transparent;
    font-size: 1.2vw;
    border: #f7931a 1px solid;
}

.hire a{
    color: #f7931a;
}

.sub-1 .tech{
    position: relative;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.sem{
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.sem .it, .js{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4cc9f0;
    height: 30px;
    width: 60px;
    font-weight: 700;
    color: #242238;
    border-radius: 10px;
}

.sem .js{
    margin-top: 10px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background-color: #4cc9f0; 
    font-weight: 700;
}

.sem .js:last-child{
    width: 128px;
    letter-spacing: 3px;
}

.happy{
    display: flex;
    gap: 10px;
    margin-left: 350px;
}

.happy .cir{
    background-color: #4cc9f0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    margin-top: -10px;
}

.happy .cir:nth-of-type(2){
    background-color: #f7931a;
}

.happy .client{
    font-size: 3vw;
    font-family: poppins;
    font-weight: 800;
    color: #f7931a;
    margin-top: -44px;
    margin-left: 120px;
}

.happy .hc{
    margin-top: -27px;
    color: #4cc9f0;
    font-family: sans-serif;
    font-size: 1.1vw;
    margin-left: 20px;
    letter-spacing: 2px;
}

#about-me{
    position: relative;
    margin-left: 50px;
    height: 100vh;
}

#about{
    display: flex;
    margin-top: 80px;

}

#about .line{
    background-color: #f7931a;
    width: 40px;
    height: 3px;
}

#about p{
    font-size: 2vw;
    text-transform: uppercase;
    font-weight: 900;
    color: rgb(172, 168, 163);
    font-family: poppins;
    margin-top: -20px;
    margin-left: 10px;
}