*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

body{
    width: 100vw;
    min-height: 100vh;
}

header{
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #242238;
    /* margin-top: 1vh; */
}

.navBar{
    height: 45px;
    position: relative;
    display: flex;
    gap: 2vw;
    justify-content: space-between;
    align-items: center;
}

.logo :is(img){
    width: 37px;
    margin-left: 20px;
    margin-top: 8px;
}

.nav-links :is(ul){
    cursor: default;
    margin-left: 250px;
}

.nav-links a{
    position: relative;
    color: #4cc9f0;
    font-size: 1.2vw;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-left: 40px;
    transition: 0.3;
    font-weight: 500;
    transition: .3s;
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.nav-links a::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    border-radius: 5px;
    background-color: #f7931a;
    height: 2px;
    transform-origin: right;
    bottom: -1px;
    transform: scale(0);
    transition: transform .5s;
}

.nav-links a:hover:before{
    transform: scale(1);
    transform-origin: left;
}

@keyframes slideTop{
    0%{
        transform: translateY(100px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.hire button{
    width: 120px;
    border-radius: 10px 0;
    height: 3.5vh;
    background-color: #242238;
}

.hire a{
    font-size: 1.1vw;
    color: #f7931a;
    font-weight: 800;
}