*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

:root{
    --primary-color--: #4cc9f0;
    --secondary-color--: #242238;
    --back-color--: #f7931a;
}

body{
    background-color: var(--secondary-color--);
    margin-left: 50px;
    overflow-x: hidden;

}

.navBar{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 40px;
    margin-top: 9px;
    border-radius: 50%;
}

.nav-links ul{
    display: flex;
    gap: 25px;
    /* margin-left: 70px; */
}

.nav-links ul a{
    position: relative;
    cursor: default;
    font-weight: 500;
    color: #f7931a;
    font-size: 1.1vw;
    transition: calc(0.2s* var(i--));
    animation: fromTop 0.5s ease forwards;
    animation-delay: calc(0.2s* var(i--));
}

@keyframes fromTop {
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.nav-links ul a::before{
    position: absolute;
    content: "";
    left: 0;
    width: 100%;
    background-color: #f7931a;
    height: 2px;
    bottom: -1px;
    transform-origin: right;
    transition: 0.3s;
    transform: scale(0);
    transition: transform 0.5s;
}

.nav-links ul a:hover:before{
    transform: scale(1);
    transform-origin: left;
}

.hereMe{
    margin-right: 70px;
    border-radius: 50px;
    height: 30px;
    border: none;
    padding: 10px;
    color: #242238;
    font-weight: 500;
    z-index: 10;
}

.section{
    position: relative;
    display: flex;
    height: 100%;
    width: 100vw;
}

.homepic{
    /* margin-right: 60px; */
    position: relative;
}

.homepic .expi{
    position: absolute;
    justify-content: center;
    display: flex;
    top: 45vh;
    left: 12vw;
    color: #fff;
    width: 125px;
    height: 60px;
    background-color: #737b7d;
    border-radius: 10px;
    align-items: center;
}

.homepic img{
    margin-top: -100px;
    width: 800px;
}

.sub-1{
    position: relative;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.sub-1 p{
    font-size: 2.2vw;
    font-family: poppins;
    font-weight: 100;
    letter-spacing: 0.3em;
    color: #fff;
}

.sub-1 span{
    color: rgb(197, 200, 202);
    font-size: 1.2vw;
    line-height: 27px;
}

button.hire{
    margin-top: 30px;
    border-radius: 50px;
    height: 50px;
    width: 150px;
    background-color: #f7931a;
    font-size: 1.2vw;
    color: #fff;
    letter-spacing: 1px;
}

.sub-1 .tech{
    position: relative;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.sem{
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.sem .it, .js{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4cc9f0;
    height: 30px;
    width: 60px;
    font-weight: 700;
    color: #242238;
    border-radius: 10px;
}

.sem .js{
    margin-top: 10px;
    height: 30px;
    width: 60px;
    border-radius: 10px;
    background-color: #4cc9f0; 
    font-weight: 700;
}

.sem .js:last-child{
    width: 128px;
    letter-spacing: 3px;
}

.myPro{
    color: #fff;
    margin-top: 20px;
    font-size: 1.3vw;
    font-family: cocon, poppins;
    text-decoration: underline;
}

.latestPro{
    bottom: 90px;
    display: flex;
    position: absolute;
}


.pro1, .pro2, .pro3{
    margin-left: 190px;
    height: 90px;
    width: 190px;
    border: #4cc9f0 1px solid;
    overflow: hidden;
    border-radius: 20px;
}

:is(.pro1, .pro2, .pro3) p{
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    font-size: 1.5vw;
    letter-spacing: 1PX;
}

.box{
    height: 50px;
    width: 50px;
    background-color: #4cc9f0;
    margin-left: 140px;
    margin-top: -10px;
}

.pro3 {
    position: absolute;
    width: 200px;
    margin-left: 850px;
    margin-top: 80px;
}

.pro2 {
    position: absolute;
    width: 200px;
    margin-left: 500px;
    margin-top: 40px;
}

.pro3 .box{
    margin-left: 0px;
}

.pro2 .box{
    margin-left: 0px;
}